

ul.list-inline a{
display: inline-block;

}
ul.list-inline li{

	font-size: medium; /* Размер шрифта */
    border-bottom: 2px solid black; /* Параметры линии под текстом */
    font-weight: normal; /* Убираем жирное начертание */
    padding-bottom: 5px; /* Расстояние от текста до линии */
}

#lign{
	font-size: medium; /* Размер шрифта */
    border-bottom: 2px solid black; /* Параметры линии под текстом */
    font-weight: normal; /* Убираем жирное начертание */
    padding-bottom: 5px; /* Расстояние от текста до линии */
}


div.container-fluid{

		width:100%;
		heigth: 100%;

}

#main img {
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
}

h2 {
    position: absolute;
    top: 466px;
    left: 0;
    width: 100%;
}
h2 span {
    color: #fff;
    font-size: 30px;
    line-height: 55px;
    padding: 10px 10px 10px 16px;
}